{% extends 'base.html' %}

{% block title %}<title>Reservation</title>{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

  {% include './navbar.html' %}
  
	<div class="container">
		<h1>Finalize your reservation</h1>
		<form method="POST" class="form-group">
			{% csrf_token %}
			{{ form|crispy }}
			<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
					<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
					<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
							<div class="input-group-text"><i class="fa fa-calendar"></i></div>
					</div>
			</div>
			<button type="submit" class="btn btn-success">Reserve</button>
		</form>
	</div>

	<script type="text/javascript">
		$(function () {
				$('#datetimepicker1').datetimepicker();
		});
	</script>

{% endblock %}