{% extends 'base.html' %}

{% block title %}<title>Table List</title>{% endblock %}

{% block content %}

  {% include './navbar.html' %}

  <div class="container text-center my-5">
    {% if tables %}
      <h1>Available Tables</h1>
      <div class="row row-cols-2 row-cols-md-4 g-4">
        {% for table in tables %}
          <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">Table #{{ table.id }}</h5>
              <h5 class="card-subtitle mb-2 text-muted">Capacity: {{ table.capacity }}</h5>
              <a class="btn btn-primary" href="{% url 'reserve' table.id %}" role="button">Reserve</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h1>There are no tables available for {{ num_guests }} guests</h1>
      <h3 class="lead">Try searching again later or reducing the number of guests for your reservation</h3>
    {% endif %}
  </div>

{% endblock %}