<html>
  <head>

    {% load bootstrap4 %}
    {% bootstrap_css %}

    {% block title %}<title>COSC4351 Project</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
  </head>
  <body>
    {% block content %}
      {% comment %} Views with the block name "content" will dynamically appear here {% endcomment %}
    {% endblock %}
  </body>
</html>